[user]
	name = Elena Tanasoiu
	email = elena.tanasoiu@gmail.com
[core]
    excludesfile = ~/.gitignore
[color]
    ui = always
[alias]
    nuke     = reset --hard origin/master
    tidy     = clean -fd .
[github]
    user = elenatanasoiu
[commit]
    gpgsign = true